* {
  padding: 0;
  margin: 0;
}

/* ###################  BASE STYLES ################## */
@import "core/settings";

body {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}

.container {
  margin: 0 15px;
}

section.anchor {
  padding-top: 105px;
  padding-bottom: 45px;
}

.heading {
  text-transform: uppercase;
}
/* ###################  HEADER #################### */
@import "layout/header";

.header-nav-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.heading {
  font-family: Rubik, sans-serif;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: aquamarine;
}

.header {
  display: flex;
  flex-wrap: wrap;
  font-family: Rubik, sans-serif;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header-base {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.95;
  background-color: #099d8d;
  flex: 1;
  height: 60px;
}

.GroupName {
  line-height: 0.7;
  transform: scale(0.75);
}

.header-nav {
  width: 100%;

  section--dark {
    background-color: #b8b8b9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: #14d9c4;
  }

  .header-nav-list {
    display: flex;
    justify-content: space-evenly;
    opacity: 0.9;
    width: 100%;
  }

  .header-nav-item {
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #ffffff;
  }
}

/* ###################  HERO #################### */
@import "layout/hero";
/* ###################  TEAM #################### */
@import "layout/team";
/* ###################  SKILLS ################## */

@import "layout/skills";

/* ##############  CONTAINER ALLS  ############## */
@import "layout/container-adalabers";

ul>li {
  list-style: none;
}

/* ###################  FOOTER  #################### */

@import "layout/footer";

/* ##############  RESPONSIVE  ############## */

@media all and (min-width: 768px) {

  .anchor {
    padding-top: 60px;
  }

  .header {
    flex-wrap: nowrap;
  }

  .header-base {
    justify-content: flex-start;
    padding-left: 45px;
  }

  .header-nav {
    background-color: #099d8d;
    height: 60px;
    width: 50%;
  }

  .skills {
    flex-direction: row;
    align-items: flex-start;
    padding: 45px 30px 60px;
  }

  .skill {
    flex-basis: 50%;
    padding-top: 0;
    margin: 0 15px;
  }

  .container-central {
    margin: 0 45px 0 45px;
  }

  .anchor {
    padding-top: 60px;
  }

  .header {
    flex-wrap: nowrap;
  }

  .skills {
    flex-direction: row;
    align-items: flex-start;
    padding: 45px 30px 60px;
  }

  .skill {
    flex-basis: 50%;
    padding-top: 0;
    margin: 0 15px;
  }

  .container-central {
    margin: 0 45px 0 45px;
  }

}

/*@media all and (min-width: 1140px) {
  .container-central {
    max-width: 924px;
    margin: auto;
  }

  .skills {
    justify-content: center;
  }

  .skill {
    flex-basis: 40%;
  }
}*/