<li class="adalaber">
  <div class="adalaber-img">
    <img class="img-adalaber" src="./assets/images/img-sara.JPG" alt="fotografía alumna Sara" />
  </div>
  <div class="container-bio-adalaber">
    <h3 class="name-adalaber">Sara López</h3>
    <p class="bio-adalaber1"> Estudié Administración y Dirección de Empresas, especializándome
      en contabilidad, mi mundo son los números. Manejando mucha formulación y macros para
      crear informes en Excel, sumado a mi curiosidad por el mundo digital, descubrí
      mi interés por la programación y el querer aportar creatividad hace que me decante por
      un futuro como desarrolladora front-end y no hay mejor manera de que todo esto sea
      posible de la mano de Adalab.</p>
    <div class="social-icons">
      <ul>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons twitter" href="https://twitter.com/saralop0710" target="_blank"><i
              class="fab fa-twitter"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--linkedin"
            href="https://www.linkedin.com/in/sara-l%C3%B3pez-lov%C3%B3n-3b8901b8/"><i
              class="fab fa-linkedin-in"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--github" href="https://github.com/Saralopezlovon" target="_blank">
            <i class="fab fa-github-alt"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--email" href="mailto:lopezlovonsara@gmail.com" target="_blank"><i
              class="fas fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</li>

<li class="adalaber">
  <div class="adalaber-img">
    <img class="img-adalaber" src="./assets/images/img-estibaliz.JPG" alt="fotografía alumna Estíbaliz" />
  </div>

  <div class="container-bio-adalaber">
    <h3 class="name-adalaber">Estíbaliz Ronco</h3>
    <p class="bio-adalaber3">Vengo del mundo de la Administración y el Audiovisual. Me gusta
      aventurarme en nuevos proyectos y que mejor que el reto de desarrolladora front-end, con
      evolución y aprendizaje constante. Me considero autoexigente,organizada
      y perfeccionista.
    </p>
    <div class="social-icons">
      <ul>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--twitter" href="https://twitter.com/EstibalizRonco"
            target="_blank"><i class="fab fa-twitter"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--linkedin"
            href="https://www.linkedin.com/in/estibaliz-ronco-%C3%A1lvarez-5b5052107/" target="_blank"><i
              class="fab fa-linkedin-in"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--github" href="https://github.com/EstibalizRonco" target="_blank"><i
              class="fab fa-github-alt"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--email" href="mailto:estibaliz.era@gmail.com" target="_blank"><i
              class="fas fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</li>

<li class="adalaber">
  <div class="adalaber-img">
    <img class="img-adalaber" src="./assets/images/img-maria.JPG" alt="fotografía alumna María" />
  </div>
  <div class="container-bio-adalaber">
    <h3 class="name-adalaber">María Muñoz</h3>
    <p class="bio-adalaber5">Formada en turismo , con años de experiencia en este y otros campos
      de atención al cliente, he decidido dar un giro a mi trayectoria profesional. Me encanta
      leer y aprender constantemente cosas nuevas, mi espíritu emprendedor
      me ha llevado a embarcarme en el mundo de la programación front-end. Me gusta la
      atención al detalle. </p>
    <div class="social-icons">
      <ul>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--twitter" href="https://twitter.com/mmunozr1982" target="_blank"><i
              class="fab fa-twitter"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--linkedin"
            href="https://www.linkedin.com/in/mar%C3%ADa-mu%C3%B1oz-rubio-211b7a159/" target="_blank"><i
              class="fab fa-linkedin-in"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--github" href="https://github.com/MariaMunozR" target="_blank"><i
              class="fab fa-github-alt"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--email" href="mailto:maria.munoz.rubio@gmail.com" target="_blank"><i
              class="fas fa-envelope"></i></a>
        </li>
      </ul>
    </div>
</li>