<li class="adalaber">
  <div class="adalaber__grid-img">
    <img class="adalaber__img" src="@@image_adalaber" alt="@@image_description" />
  </div>
  <div class="adalaber__grid-info">
    <h3 class="adalaber__name">@@name_adalaber</h3>
    <p class="adalaber__bio">@@bio_adalaber</p>
    <div>
      <ul class="social__icons-list">
        <li class="social__icons-item">
          <a class="social__icons-link" href="@@twitter_adalaber" target="_blank" title="Ir a Twitter"><i
              class="fab fa-twitter"></i></a>
        </li>
        <li class="social__icons-item">
          <a class="social__icons-link" href="@@linkedin_adalaber" target="_blank" title="Ir a LinkedIn"><i
              class="fab fa-linkedin-in"></i></a>
        </li>
        <li class="social__icons-item">
          <a class="social__icons-link" href="@@github_adalaber" target="_blank" title="Ir a Github"><i
              class="fab fa-github-alt"></i></a>
        </li>
        <li class="social__icons-item">
          <a class="social__icons-link icon" href="@@mail_adalaber" target="_blank" title="Mandar un email"><i
              class="fas fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</li>