<li class="adalaber align-right">
  <div class="adalaber-img">
    <img class="img-adalaber" src="./assets/images/img-ma-jose.JPG" alt="fotografía alumna María José" />
  </div>
  <div class="container-bio-adalaber">
    <h3 class="name-adalaber">María José Chirinos</h3>
    <p class="bio-adalaber2"> Soy una persona de ciencias, graduada en química pura y siempre
      interesada en el "porqué" de todo; soy metódica, proactiva, me gustan las cosas
      organizadas y en la programación he encontrado una nueva pasión, adaptando mis ganas de
      aprender a un campo en el que se está en constante evolución.</p>
    <div class="social-icons">
      <ul>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--twitter" href="https://twitter.com/MjChRed?s=08" target="_blank"><i
              class="fab fa-twitter"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--linkedin"
            href="https://www.linkedin.com/in/mar%C3%ADa-jos%C3%A9-chirinos-33985b69" target="_blank"><i
              class="fab fa-linkedin-in"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--github" href="https://github.com/Mjchr/" target="_blank"><i
              class="fab fa-github-alt"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--email" href="mailto:Majchirinos@gmail.com" target="_blank"><i
              class="fas fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</li>

<li class="adalaber align-right">
  <div class="adalaber-img">
    <img class="img-adalaber" src="./assets/images/img-azahara.JPG" alt="fotografía alumna Azahara" />
  </div>

  <div class="container-bio-adalaber">
    <h3 class="name-adalaber">Azahara Martínez</h3>
    <p class="bio-adalaber4">Farmacéutica de profesión, siempre me llamó la atención la
      tecnología aunque tímidamente, fue solo hace unos meses que comencé a interesarme por el
      desarrollo web. Me entusiasma la idea de tener retos diarios y enfrentarme
      a problemas que requieran del uso de la tecnología para solucionarlos y Adalab me da la
      oportunidad. Me considero una persona organizada, resolutiva y … aventurera. </p>
    <div class="social-icons">
      <ul>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--twitter" href="https://twitter.com/AzaharaMartinz"
            target="_blank"><i class="fab fa-twitter"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--linkedin"
            href="https://www.linkedin.com/in/azahara-mart%C3%ADnez-garc%C3%ADa-11886191/" target="_blank"><i
              class="fab fa-linkedin-in"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--github" href="https://github.com/azaharamg" target="_blank"><i
              class="fab fa-github-alt"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--email" href="mailto:azaharamaga@gmail.com" target="_blank"><i
              class="fas fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</li>