<li class="adalaber">
  <div class="adalaber-img">
    <img class="img-adalaber" src="@@image_adalaber" alt="@@image_description"/>
  </div>
  <div class="container-bio-adalaber">
    <h3 class="name-adalaber">@@name_adalaber</h3>
    <p class="bio-adalaber1">@@bio_adalaber</p>
    <div class="social-icons">
      <ul>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons twitter" href="@@twitter_adalaber"target="_blank"><i
              class="fab fa-twitter"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--linkedin" href="@@linkedin_adalaber" target="_blank"><i
              class="fab fa-linkedin-in"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--github" href="@@github_adalaber" target="_blank">
            <i class="fab fa-github-alt"></i></a> ·
        </li>
        <li class="social-icons__item">
          <a class="social-icons__link social-icons--email" href="@@mail_adalaber" target="_blank"><i
              class="fas fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</li>