<li class="adalaber__align-right">
    <div>
      <img class="adalaber__img-right" src="@@image_adalaber" alt="@@image_description"/>
    </div>
    <div>
      <h3 class="adalaber__name-right">@@name_adalaber</h3>
      <p class="adalaber__bio-right">@@bio_adalaber</p>
      <div>
        <ul class="social__icons-list-right">
          <li class="social__icons-item">
            <a class="social__icons-link" href="@@twitter_adalaber"target="_blank"><i
                class="fab fa-twitter"></i></a> ·
          </li>
          <li class="social__icons-item">
            <a class="social__icons-link" href="@@linkedin_adalaber" target="_blank"><i
                class="fab fa-linkedin-in"></i></a> ·
          </li>
          <li class="social__icons-item">
            <a class="social__icons-link" href="@@github_adalaber" target="_blank">
              <i class="fab fa-github-alt"></i></a> ·
          </li>
          <li class="social__icons-item">
            <a class="social__icons-link" href="@@mail_adalaber" target="_blank"><i
                class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
   </div>
</li>