<footer class="footer">
  <div class="footer-links">
    <p class="team-name">Tech Ants ©2019</p>
    <nav class="footer-nav">
      <ul class="footer-nav-ul">
        <li class="footer-nav-li li1">
          <a class="footer-link" href="#team4">equipo</a></li>
        <li class="footer-nav-li li2">
          <a class="footer-link" href="#about-us">quiénes somos</a>
        </li>
        <li class="footer-nav-li li3">
          <a class="footer-link" href="./form-index.html">contacto</a>
        </li>
      </ul>
    </nav>

    <img class="image" src="./assets/images/img-Adalab.jpg" alt="logotipo_Adalab" width="115.9px" height="45px">

  </div>
</footer>