<header class="page__header">
  <header class="header">
    <section class="header-base">
      <div class="GroupName">
        <a href="index.html" class="link-home">
          <img src="./assets/images/generatedtext.jpg" alt="logo TechAnts" />
        </a>
      </div>
    </section>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="index.html#team4">EQUIPO</a>
        </li>

        <li class="header-nav-item">
          <a class="header-nav-link" href="index.html#about-us">QUIENES SOMOS</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./form-index.html">CONTACTO</a>
        </li>
      </ul>
    </nav>
  </header>
</header>