<section id="skills" class="skills section--dark">
  <article class="skill">
    <h2 class="heading"> Fortalezas
    </h2>
    <p class="skill-content"> Somos un equipo multidisciplinar, ¡Estamos muy motivadas! al venir de
      diferentes sectores aportamos una visión más amplia para saber cómo distinguir y satisfacer de una
      manera eficiente y eficaz las necesidades reales del cliente. Estamos
      acostumbradas al trabajo en equipo, bajo presión y nos gusta estar en continuo aprendizaje :) </p>
  </article>

  <article class="skill">
    <h2 class="heading"> Debilidades
    </h2>
    <p class="skill-content"> Nuestra principal debilidad: ¡No haber descubierto el mundo tecnológico antes!
      Pero no pasa nada, estamos trabajando muy duro para ponernos al tanto, y seguir creciendo! </p>
  </article>
</section>