<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://kit.fontawesome.com/94776826eb.js"
      crossorigin="anonymous"
    ></script>
    <title>TechAnts</title>
    <link rel="stylesheet" href="./assets/css/form.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans%7CRubik&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
    <div>
      <h1 class="title">contacto</h1>
    </div>
    <p class="contactus">
        ¿Quieres saber más? ¿Ponerte en contacto con nosotras? Rellena este
        formulario y estaremos encantadas de conocerte.
      </p>
  
      <p class="required"><small>Todos los campos marcados con <span class="asterisk">*</span>son
          obligatorios</small></p>
  
      <form action="/https://formspree.io/xbjraqje" method="post">
        <div class="form__container">
          <label for="firstName">Nombre completo<span class="asterisk">*</span></label>
          <input
            placeholder="Nombre..."
            id="firstName"
            type="text"
            name="firstName"
            required
          />
          <label for="email">E-mail<span class="asterisk">*</span></label>
          <input
            placeholder="nombre.apellidos@mail.com"
            id="mail"
            type="mail"
            name="mail"
            required
          />
          <label for="phone">Teléfono </label>
          <input placeholder="Ej. 123456789" id="phone" type="tel" name="phone" />
  
          <label for="comments">Mensaje<span class="asterisk">*</span></label>
          <textarea class="textarea"
            placeholder="¿Qué necesitas?"
            id="comments"
            name="comments"
            rows="8"
            cols="80">
          </textarea>
          <input class="button" type="submit" value="Enviar" />
        </div>
      </form>
</div>
  </body>
</html>
