<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/94776826eb.js" crossorigin="anonymous"></script>
  <title>TechAnts</title>
  <link rel="stylesheet" href="./assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans%7CRubik&display=swap" rel="stylesheet">
</head>

<body>
  <partial src="_header.html"></partial>
  <main>
    <partial src="_hero.html"></partial>
    <partial src="_team4.html"></partial>
    <partial src="_skills.html"></partial>
    <section class="container-alls anchor" id="about-us">
      <div class="container-central">
        <h2 class="heading">QUIÉNES SOMOS</h2>
        <ul>
            <partial src="_adalabers-left.html" image_adalaber="../assets/images/img-sara.JPG" image_description="fotografía alumna Sara" name_adalaber="SaraLopez" bio_adalaber="Estudié Administración y Dirección de Empresas, especializándome en contabilidad, mi mundo son los números. Manejando mucha formulación y macros para crear informes en Excel, sumado a mi curiosidad por el mundo digital, descubrí mi interés por programación y el querer aportar creatividad hace que me decante por un futuro como desarrolladora front-end y no hay mejor manera de que todo esto sea posible de la mano de Adalab." twitter_adalaber="https://twitter.com/saralop0710" linkedin_adalaber="https://www.linkedin.com/in/sara-l%C3%B3pez-lov%C3%B3n-3b8901b8/" github_adalaber="https://github.com/Saralopezlovon" mail_adalaber="mailto:lopezlovonsara@gmail.com"></partial>

            <partial src="_adalabers-right.html" image_adalaber="../assets/images/img-ma-jose.JPG" image_description="fotografía alumna María José" name_adalaber="María José Chirinos" bio_adalaber="Soy una persona de ciencias, graduada en química pura y siempre interesada en el porqué de todo; soy metódica, proactiva, me gustan las cosas organizadas y en la programación he encontrado una nueva pasión, adaptando mis ganas de aprender a un campo en el que se está en constante evolución." twitter_adalaber="https://twitter.com/MjChRed" linkedin_adalaber="https://www.linkedin.com/in/mar%C3%ADa-jos%C3%A9-chirinos-33985b69" github_adalaber="https://github.com/Mjchr/" mail_adalaber="Majchirinos@gmail.com"></partial>
            <partial src="_adalabers-left.html" image_adalaber="../assets/images/img-estibaliz.JPG" image_description="fotografía alumna Estíbaliz" name_adalaber="Estíbaliz Ronco" bio_adalaber="Vengo del mundo de la Administración y el Audiovisual. Me gusta aventurarme en nuevos proyectos y que mejor que el reto de desarrolladora front-end, con evolución y aprendizaje constante. Me considero autoexigente,organizada y perfeccionista." twitter_adalaber="https://twitter.com/EstibalizRonco" linkedin_adalaber="https://www.linkedin.com/in/estibaliz-ronco-%C3%A1lvarez-5b5052107/" github_adalaber="https://github.com/EstibalizRonco" mail_adalaber="estibaliz.era@gmail.com"></partial>
            <partial src="_adalabers-right.html" image_adalaber="../assets/images/img-azahara.JPG" image_description="fotografía alumna Azahara" name_adalaber="Azahara Martínez" bio_adalaber="Farmacéutica de profesión, siempre me llamó la atención la tecnología aunque tímidamente, fue solo hace unos meses que comencé a interesarme por el desarrollo web. Me entusiasma la idea de tener retos diarios y enfrentarme a problemas que requieran del uso de la tecnología para solucionarlos y Adalab me da la oportunidad. Me considero una persona organizada, resolutiva y … aventurera." twitter_adalaber="https://twitter.com/AzaharaMartinz" linkedin_adalaber="https://www.linkedin.com/in/azahara-mart%C3%ADnez-garc%C3%ADa-11886191/" github_adalaber="https://github.com/azaharamg" mail_adalaber="azaharamaga@gmail.com"></partial>
            <partial src="_adalabers-left.html" image_adalaber="../assets/images/img-maria.JPG" image_description="fotografía alumna María" name_adalaber="María Muñoz" bio_adalaber="Formada en turismo , con años de experiencia en este y otros campos de atención al cliente, he decidido dar un giro a mi trayectoria profesional. Me encanta leer y aprender constantemente cosas nuevas, mi espíritu emprendedor me ha llevado a embarcarme en el mundo de la programación front-end. Me gusta la atención al detalle." twitter_adalaber="https://twitter.com/mmunozr1982" linkedin_adalaber="https://www.linkedin.com/in/mar%C3%ADa-mu%C3%B1oz-rubio-211b7a159/" github_adalaber="https://github.com/MariaMunozR" mail_adalaber="maria.munoz.rubio@gmail.com"></partial>
         
        </ul>
      </div>
  </main>
  <partial src="_footer.html"></partial>
</body>

</html>