<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/94776826eb.js" crossorigin="anonymous"></script>
  <title>TechAnts</title>
  <link rel="stylesheet" href="./assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans%7CRubik&display=swap" rel="stylesheet">
</head>

<body>
  <partial src="_header.html"></partial>
  <main>
    <partial src="_hero.html"></partial>
    <partial src="_team4.html"></partial>
    <partial src="_skills.html"></partial>
    <section class="container-alls anchor" id="about-us">
      <div class="container-central">
        <h2 class="heading">QUIÉNES SOMOS</h2>
        <ul>
          <partial src="_adalabers-left.html"></partial>
          <partial src="_adalabers-right.html"></partial>
        </ul>
      </div>
  </main>
  <partial src="_footer.html"></partial>
</body>

</html>