section.anchor {
  padding-top: 105px;
  padding-bottom: 45px;
}

.container {
  margin: 0 15px;
}

.team {
  position: relative;
  padding: 76px 15px 30px;
}

.heading {
  text-transform: uppercase;
}

.team:after {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  left: 44%;
  top: 95%;
  transform: rotate(45deg);
}

.team .description {
  margin-bottom: 15px;
}

@media all and (min-width: 768px) {
  .team {
    padding: 45px;
    padding-bottom: 60px;
  }

  .team:after {
    left: 47%;
  }
}

@media all and (min-width: 1200px) {
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team p {
    width: 50%;
  }

  .team:after {
    left: 50%;
  }
}