*{
  box-sizing: border-box;
}
.adalaber,
.adalaber__align-right{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-adalaber,
.img-adalaber__right{
  width: 180px;
  border: 5px solid lightgrey;
  border-radius: 5px;
  margin: 25px 0 10px 0;
}
.name-adalaber,
.name-adalaber__right{
  text-align: center;
}
.bio-adalaber,
.bio-adalaber__right{
  text-align: center;
}
.social_icons_list,
.social_icons_list__right{
  list-style: none;
  padding: 15px 0 15px 0;
}
.social-icons__item{
  color: #099d8d;
  display: inline;
  padding: 0 3px 0 3px;
}
.social-icons__link{
  text-decoration: none;
  color: #099d8d;
  cursor: pointer;
}

/*RESPONSIVE*/
@media all and (min-width: 768px) {
  /*Adalabers left*/
.adalaber{
  flex-direction: row;
  align-items: center;
}
.img-adalaber{
  width: 205px;
  margin-right: 25px;;
}
.name-adalaber{
  padding-top: 45px;
  text-align: left;
}
.bio-adalaber{
  text-align: left;
}
.social_icons_list{
  text-align: left;
}
 /*Adalabersright*/
.adalaber__align-right{
 flex-direction: row-reverse;
}
.img-adalaber__right{
  width: 205px;
  margin-left: 25px;;
}
.name-adalaber__right{
  padding-top: 45px;
  text-align: right;
}
.bio-adalaber__right{
  text-align: right;
}
.social_icons_list__right{
  text-align: right;
}
}

@media all and (min-width: 1140px) {
  
}