*{
  box-sizing: border-box;
}

/*Variable*/
$colorLink: #099d8d;
$adalaberImgMobile: 180px;
$adalaberImgTablet: 205px;
$adalaberImgDesktop: 278px;
$textAlignRight: right;
$textAlignLeft: left;
$textAlignCenter: center;



.heading {
  font-family: Rubik;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.88;
  text-align: $textAlignCenter;
  color: $colorLink;
}


.adalaber,
.adalaber__align-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  @media all and (min-width: 768px){
    align-items: flex-start;
    margin-top: 60px;
  }
}
.adalaber__img,
.adalaber__img-right{
  width: $adalaberImgMobile;
  border: 5px solid lightgrey;
  border-radius: 5px;
  margin-bottom:10px;
  @media all and (min-width: 768px) {
    width: $adalaberImgTablet;
  }
  @media all and (min-width: 1140px) {
    width:$adalaberImgDesktop;
  }
}

@mixin adalabersInfoFonts(){
  font-family: OpenSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align:$textAlignCenter;
}
.adalaber__name,
.adalaber__name-right{
  @include adalabersInfoFonts();
  font-size: 20px;
  line-height: 2.25;
  color: #000000;
 
}
.adalaber__bio,
.adalaber__bio-right{
  @include adalabersInfoFonts();
  font-size: 16px;
  line-height: 1.5;
  color:#54585a;
  @media all and (min-width: 1140px) {
    max-width: 439px;
  }
}
.social__icons-list,
.social__icons-list-right{
  list-style: none;
  padding-top: 15px;
}
.social__icons-item{
  color:$colorLink;
  display: inline;
  padding: 0 3px 0 3px;
}
.social__icons-link{
  text-decoration: none;
  color: $colorLink;
  cursor: pointer;
}


/*Responsive*/
@mixin adalabersLeft(){
  .adalaber{
    flex-direction: row;
  }
  .adalaber__img{
    margin-right: 25px;
    @media all and (min-width: 1140px) {
      margin-right: 40px;
    }
  }
  .adalaber__name{
    text-align:$textAlignLeft;
  }
  .adalaber__bio{
    text-align:$textAlignLeft;
  }
  .social__icons-list{
    text-align: $textAlignLeft;
  }
}

@mixin adalabersRight(){
  .adalaber__align-right{
   flex-direction: row-reverse;
  }
  .adalaber__img-right{
    margin-left: 25px;
    @media all and (min-width: 1140px) {
      margin-left: 40px;
    }
  }
  .adalaber__name-right{
    text-align:$textAlignRight;
  }
  .adalaber__bio-right{
    text-align:$textAlignRight;
  }
  .social__icons-list-right{
    text-align:$textAlignRight;
  }
}

@media all and (min-width: 768px) {
  @include adalabersLeft();
  @include adalabersRight();
}

