/* #################### COLORS #####################  */

$color-white: #fff;
$color-aquamarine: aquamarine;
$color-gray-primary: #b8b8b9;
$color-gray-secondary: #54585a;



/* #################### TIPOGRAPHY #################  */

$font-rubik: "rubik", sans-serif;
$headerFontSize: 22px;