<<<<<<< HEAD
$color-white: #ffffff;
$color-aquamarine: aquamarine;
$font-rubik: "rubik", sans-serif;
$headerFontSize: 22px;
=======
$color-white: #f3f4f5;
$color-green-primary: #099d8d;
>>>>>>> 56d73827182d48bf3dfee3a645c886ccb2684787
